.job-input>* {
    background-color: skyblue;
    padding: 15px 20px 15px 20px;
    margin: 20px;
    border-radius: 10px;
}

input {
    margin: 20px;
    border: black 2px solid;
    border-radius: 10px;
    padding: 10px 15px 10px 15px;
    text-align: center;
}